@inject NavigationManager NavMan
@using Blazored.Toast.Configuration

<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @{ NavMan.NavigateTo("/login"); }
            </NotAuthorized>
        </AuthorizeRouteView>
        <BlazoredToasts 
            ShowProgressBar="true"
            Timeout="10"
            Position="ToastPosition.TopRight"
        />
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>